body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

svg {
  height: 50px;
  width: 50px;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/* Landing area */

.start {
	font-family: sans-serif; /* add more specific font */
	font-size: 16px;
	font-style: normal;
	text-transform: none;
	margin: 15px 0;
}

/* Sections */

/* Intro */
.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background-image: url('../images/landing-background.jpg');
      background-size: cover;
      background-position: center;
}

/* About */
.about-section {
    height: 100%;
    padding-top: 75px;
    text-align: center;
    background: #eee;
}

.about-section p {
  text-align: left;
}

.about-section .about-sub {
  text-align: center;
}

/* Projects */
.project-section {
    height: 100%;
    padding-top: 75px;
    text-align: center;
    background: #fff;
}

/* Connect */
.connect-section {
    height: 100%;
    padding-top: 75px;
    text-align: center;
    background: #eee;
}
